/* body{
    min-height: 100vh;
} */
.blog{
    min-height: 100vh;
    padding-right: 0;
    padding-left: 0;
}
.aside{
    background: #7CC87A;
    color: white;
    /* margin:auto; */
    text-align: center;
    min-height: 100vh;
}

.aside .profile-header h3{
    margin-top: 20px;
    margin-bottom: 50px;
}

.aside .profile-header p{
    display: block;
}

.aside .post{
    list-style-type: none;
}

.main-area .header{
    background: #e4e0e0;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
}

.main-area .header p{
    font-family: Arial, Helvetica, sans-serif;
    color: #7e7e7e;
}

.main-area button{
    border-radius: 4px;
    background: #7CC87A;
    color: white;
    border-style: none;
}
#more {
    display: none;
}

.articles .article-box{
    margin: 25px 0;
}

.articles .article-box .published{
    color: #7e7e7e;
}

.articles .article-box a{
    color: #7CC87A;
    background: inherit;
    text-decoration: none;
}

.articles .article-box .img{
    padding-right: 18px;
    float: left;
}

.articles .article-box .text{
    
}

.articles .article-box .text h3, p{
    margin-bottom: 8px;
}